A_Game_Theoretic_Framework_for_Adaptive_Calibration_of_Blind__revisited__Quantum_Computing_with_Metaheuristics_and_Quantum_GAN_Feedback.pdf
Modele_uczenia_maszynowego_dla_wybranych_zastosowań_kwantowych.pdf
.wslvenv
.venv
squidasm/